<p>
  <%= User.human_attribute_name(:follower_list) %>
</p>
<table>
  <thead>
    <tr>
      <td><%= User.human_attribute_name(:name) %><td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @user.followers.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to t('views.common.show'), user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
